<% include partials/head %>

<h1><%= title %></h1>

<ul>
	<% for(var i = 0; i < items.length; i++) { %>
		<li><%= items[i].name %></li>
	<% }%>
</ul>

<h3>Agregando...</h3>

<form action="/new-product" method="POST">
	<input id="newItem" type="text" name="newItem">
	<button>Agregar Producto</button>
</form>

<script>
	const txtNewItem = document.getElementById('newItem');
	txtNewItem.focus();
</script>

<% include partials/foot %>